@model IEnumerable<Service.Models.Album>

@{
    ViewData["Title"] = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Albums</h1>

@Html.DropDownList("albums", new SelectList(Model), "Select an Album", null)

<button type="button" class="btn btn-success" id="VisualizationBtn">Visualizar Album</button>

<table class="table" id="photosTable">
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Url</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

<script>

    $(document).ready(function () {
        $("#VisualizationBtn").click(function () {
            var albumId = document.getElementById("albums").value;

            $.ajax({
                method: "GET",
                async: "false",
                url: "api/photos/" + 1,
                success: function (result) {
                    result.forEach(element => addRow(element));
                }
            });
        });

        $(".getComment").click(function () {
            var id = $(this).data('id');

            $.ajax({
                method: "GET",
                async: "false",
                url: "api/comments/" + id,
                success: function (result) {
                    result.forEach(element => console.log(element));
                }
            });
        })

        function addRow(element) {
            var row =
                "<tr>" +
                "<td>" + element.thumbnailUrl + "</td>" +
                "<td>" + element.title + "</td>" +
                "<td>" + element.url + "</td>" +
                "<td>" + "<button class='btn btn-info getComment' data-id=" + element.id + ">Get Comments</button></td>" +
                "</tr>";

            $("#photosTable").append(row);
        }
    });

</script>